@use "assets/scss/vars.scss" as *;

.our_projects {
	padding: 80px 0 60px;

	@media (max-width: 1024.98px) {
		padding: 32px 0;
	}

	.maxWidth {
		max-width: 65%;

		@media (max-width: 767.98px) {
			max-width: 100%;
		}
	}
}

.projects_slider {
	position: relative;
	margin-bottom: 32px;

	.project_card {
		position: relative;
		@include borderRadius(4px 4px 0 0);
		margin-bottom: 27px;

		.img {
			width: 100%;
			height: 285px;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			@include borderRadius(4px 4px 0 0);
			border: 1px solid var(--light-gray);

			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

		h5 {
			position: absolute;
			bottom: 0;
			left: 50%;
			@include transform(translate(-50%, 50%));
			z-index: 1;
			background-color: var(--white);
			padding: 16px;
			width: calc(100% - 48px);
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			@include font(18px, 700, var(--black));
			box-shadow: 0px 13px 19px 0px #00000012;
			@include borderRadius(0 0 4px 4px);
			@include transition(0.3s);
		}

		&:hover {
			h5 {
				background-color: var(--bg-light);
				color: var(--primary);
			}
		}
	}

	:global {
		.swiper-wrapper {
			padding-bottom: 27px;
		}

		.project-swiper-pagination {
			margin-top: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 6px;
			min-height: 18px;

			.swiper-pagination-bullet {
				flex-shrink: 0;
				margin: 0;
				width: 14px;
				height: 14px;
				@include borderRadius(100%);
				background-color: var(--white);
				border: 1px solid var(--dark-gray);
				opacity: 1;
				@include transition(0.3s);

				&:hover,
				&-active {
					width: 18px;
					height: 18px;
					background-color: var(--primary);
					border-color: var(--primary);
				}
			}
		}

		.project-swiper-button-prev,
		.project-swiper-button-next {
			position: absolute;
			top: 50%;
			z-index: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: none;
			width: 40px;
			height: 40px;
			@include borderRadius(100%);
			background-color: var(--dark);
			padding: 0;
			border: 0;
			box-shadow: 0px 13px 19px 0px #00000012;
		}

		.project-swiper-button-prev {
			#{$ltr} & {
				left: 0;
				@include transform(translate(-50%, -50%));
			}
			#{$rtl} & {
				right: 0;
				@include transform(translate(50%, -50%) rotate(180deg));
			}
		}

		.project-swiper-button-next {
			#{$ltr} & {
				right: 0;
				@include transform(translate(50%, -50%));
			}
			#{$rtl} & {
				left: 0;
				@include transform(translate(-50%, -50%) rotate(180deg));
			}
		}
	}
}
