@use "assets/scss/vars.scss" as *;

.main_layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.router_content {
		flex-grow: 1;

		display: flex;
		flex-direction: column;
	}
}
