@use "assets/scss/vars.scss" as *;

.top {
	padding: 16px 0;
	background-color: var(--bg-dark85);

	&_content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;

		.info {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 8px;

			svg {
				flex-shrink: 0;
				width: 24px;
				height: 24px;
			}

			span {
				@include font(18px, 500, var(--white));
			}
		}

		.media {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 16px;

			a {
				flex-shrink: 0;
				width: 32px;
				height: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				@include borderRadius(100%);
				@include transition(0.3s);

				svg {
					max-height: 16px;
				}

				&:hover {
					background-color: #f4f6fc33;
				}
			}
		}
	}
}

.bottom {
	padding: 8px 0;
	background-color: var(--white);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 5;

	&_content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			flex-shrink: 0;
			width: 64px;
			height: 64px;
		}

		.actions {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			[class*="lang_btn"] {
				color: var(--primary);

				span {
					color: var(--primary);
					font-weight: 700;
				}
			}

			.burger_btn {
				padding: 0;
				width: 48px;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: none;
				border: 0;

				img {
					width: 32px;
					height: 32px;
					@include transition(0.3s);

					#{$rtl} & {
						@include transform(rotateY(180deg));
					}
				}
			}

			.close_menu {
				padding: 0;
				width: 48px;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: none;
				border: 0;

				img {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
}

.menu_list {
	height: 0;
	position: fixed;
	top: 144px;
	z-index: 9999;
	padding: 16px;
	background-color: #082338;
	width: 100%;
	overflow-y: auto;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	@include transition(0.3s);

	li {
		margin-bottom: 8px;

		.menu_item {
			padding: 16px 8px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			@include font(16px, 500, var(--white));
			background-color: var(--transparent);
			border: 0;
			border-bottom: 1px solid var(--dark-gray);
			box-shadow: none;
			@include transition(0.3s);

			&:global(.active) {
				@include font(16px, 700, var(--secondary));
			}
		}

		:global {
			.p-accordion {
				&-tab {
					margin-bottom: 0;

					.p-accordion-header {
						&-link {
							padding: 16px 8px;
							@include borderRadius(0);
							background-color: var(--transparent);
							border: 0;
							border-bottom: 1px solid var(--dark-gray);

							.p-icon {
								order: 1;
								margin: 0;
								color: var(--white);

								#{$rtl} & {
									@include transform(rotate(180deg));
								}
							}

							.p-accordion-header-text {
								@include font(16px, 500, var(--white));
							}
						}

						&.p-highlight {
							.p-accordion-header-link {
								.p-icon {
									#{$rtl} & {
										@include transform(rotate(0));
									}
								}
							}
						}
					}

					.p-accordion-content {
						margin-top: 8px;
						padding: 0;
						background-color: var(--transparent);
						border: 0;

						.p-accordion {
							&-tab {
								&:not(:last-child) {
									margin-bottom: 8px;
								}

								.p-accordion-header {
									&-link {
										padding: 16px;
										-webkit-padding-start: 32px;
										padding-inline-start: 32px;
										background-color: #10467080;
										@include borderRadius(4px);
										border-bottom: 1px solid transparent;
									}

									&.p-highlight {
										.p-accordion-header-link {
											border-bottom-color: var(--primary);
										}
									}
								}

								.p-accordion-content {
									margin-top: 0;
									background-color: #10467080;

									a {
										padding: 16px;
										-webkit-padding-start: 48px;
										padding-inline-start: 48px;
										display: flex;
										align-items: center;
										justify-content: flex-start;
										@include font(16px, 500, var(--white));

										&:not(:last-child) {
											border-bottom: 1px solid var(--primary);
										}

										&:global(.active) {
											@include font(16px, 700, var(--secondary));
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.items_link {
			padding: 16px;
			-webkit-padding-start: 32px;
			padding-inline-start: 32px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			@include font(16px, 500, var(--white));
			margin-top: 8px;
			background-color: #10467080;
			@include borderRadius(4px);

			&:not(:last-child) {
				border-bottom: 1px solid var(--primary);
			}

			&:global(.active) {
				@include font(16px, 700, var(--secondary));
			}
		}
	}

	&.show {
		height: calc(100vh - 144px);
		opacity: 1;
		visibility: visible;
	}

	&.scrolled {
		top: 80px;

		&.show {
			height: calc(100vh - 80px);
		}
	}
}
